<page-body>

  <div class="menu">
    <ul>
      <li *ngFor="let opt of getMenuOptions()" (click)="clickedMenuOption(opt)">{{opt.label}}</li>
    </ul>
  </div>

  <div class="content">
    <h2>Travel Agency</h2>
    <p>Zapraszamy do skorzystania z naszego biura podróży</p>
    <p>Być może nie oferujemy wiele, ale za to mamy bardzo wysokie ceny!</p>

    <h2>Tę majestatyczną stronę dumnie tworzą:</h2>
    <p>Aleksander Wójcik 1ID21</p>
    <p>Piotr Nowacki 1ID21</p>
    <p>Kamil Pazera 1ID21</p>
    <p>Mateusz Mróz 1ID21</p>
  </div>

</page-body>