<page-body>

  <div class="menu">
    <ul>
      <li *ngFor="let opt of getMenuOptions()" (click)="clickedMenuOption(opt)">{{opt.label}}</li>
    </ul>
  </div>

  <div class="content">
    <div *ngIf="isMenuOptionActive(1)">
      <h2>Wyszukaj użytkownika:</h2>
      <form [formGroup]="formSearchUser" (ngSubmit)="findUser()">
        <label>
          <input type="text" formControlName="firstname" />Imie<br />
        </label>
        <label>
          <input type="text" formControlName="lastname" />Nazwisko<br />
        </label>
        <button type="submit">Zatwierdź</button>
      </form>

      <div>
        <table>
          <tr>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>Typ</th>
            <th>Status</th>
          </tr>
          <tr *ngFor="let user of searchedUsers">
            <td>{{ticket.firstname}}</td>
            <td>{{ticket.lastname}}</td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>

    <div *ngIf="isMenuOptionActive(2)">
      <h2>Załóż nowe konto:</h2>
      <form [formGroup]="formCreateUser" (ngSubmit)="createUser()">
        <label>
          <input type="text" formControlName="firstname" />Imie<br />
        </label>
        <label>
          <input type="text" formControlName="lastname" />Nazwisko<br />
        </label>
        <label>
          <input type="text" formControlName="login" />Login<br />
        </label>
        <label>
          <input type="text" formControlName="password" />Hasło<br />
        </label>
        <button type="submit">Zatwierdź</button>
      </form>
    </div>

    <div *ngIf="isMenuOptionActive(3)">
      <h2>Informacje o mnie:</h2>
      
      <ul>
        <li *ngFor="let info of infoAboutMe">{{info}}</li>
      </ul>

      <p>Skasuj konto:</p>
      <p class="btn" (click)="deleteUser()">KLIK</p>

    </div>

  </div>

</page-body>