<div class="banner main-layout-block">
</div>

<div class="pages-select main-layout-block">
  <div class="btn" routerLink="offers" routerLinkActive="btn-active" routerLinkActiveOptions="{ exact: true }">Oferty</div>
  <div class="btn" routerLink="tickets" routerLinkActive="btn-active" routerLinkActiveOptions="{ exact: true }">Bilety</div>
  <div class="btn" routerLink="user" routerLinkActive="btn-active" routerLinkActiveOptions="{ exact: true }">Użytkownik</div>
  <div class="btn" routerLink="contact" routerLinkActive="btn-active" routerLinkActiveOptions="{ exact: true }">Kontakt</div>
</div>
