<page-body>

  <div class="menu">
    <ul>
      <li *ngFor="let opt of getMenuOptions()" (click)="clickedMenuOption(opt)">{{opt.label}}</li>
    </ul>
  </div>

  <div class="content">
    <div *ngIf="isMenuOptionActive(1)">
      <h2>Wszystkie Oferty:</h2>
      <table>
        <tr>
          <th>Data startu</th>
          <th>Czas trwania</th>
          <th>Nazwa</th>
          <th>Status</th>
          <th>Akcje</th>
        </tr>
        <tr *ngFor="let trip of allOffers">
          <td>{{trip.startingDate}}</td>
          <td>{{trip.duration}}</td>
          <td>{{trip.name}}</td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>

    <div *ngIf="isMenuOptionActive(2)">
      <h2>Aktualne Oferty:</h2>
      <table>
        <tr>
          <th>Data startu</th>
          <th>Czas trwania</th>
          <th>Nazwa</th>
          <th>Status</th>
          <th>Akcje</th>
        </tr>
        <tr *ngFor="let trip of availableOffers">
          <td>{{trip.startingDate}}</td>
          <td>{{trip.duration}}</td>
          <td>{{trip.name}}</td>
          <td></td>
          <td>
            <div class="action-btn" (click)="reserveTicket(trip)">Zarezerwuj</div>
          </td>
        </tr>
      </table>
    </div>

    <div *ngIf="isMenuOptionActive(3)">
      <h2>Dodaj nową ofertę:</h2>
      <form [formGroup]="formCreateTrip" (ngSubmit)="createNewTrip()">
        <label>
          <input type="text" formControlName="startingDate">Data startu<br />
        </label>
        <label>
          <input type="text" formControlName="duration">Czas trwania<br />
        </label>
        <label>
          <input type="text" formControlName="name">Nazwa<br />
        </label>
        <button type="submit">Zatwierdź</button>
      </form>
    </div>

    <div *ngIf="isMenuOptionActive(4)">
      <h2>Wyszukaj ofertę:</h2>
      <form [formGroup]="formFindTrips" (ngSubmit)="findTrips()">
        <label>
          <input type="text" formControlName="startingDate" />Data startu<br />
        </label>
        <label>
          <input type="text" formControlName="duration" />Czas trwania<br />
        </label>
        <label>
          <input type="text" formControlName="name">Nazwa<br />
        </label>
        <button type="submit">Zatwierdź</button>
      </form>

      <div>
        <table>
          <tr>
            <th>Data startu</th>
            <th>Czas trwania</th>
            <th>Nazwa</th>
            <th>Status</th>
          </tr>
          <tr *ngFor="let trip of searchedOffers">
            <td>{{trip.startingDate}}</td>
            <td>{{trip.duration}}</td>
            <td>{{trip.name}}</td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>

  </div>

</page-body>